*{
    margin: 0;
    padding: 0;
}
.loaderVG{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #474747; /* rgb(90, 90, 90) */
    background-image: linear-gradient(90deg, #121212 0%, rgb(40, 44, 52) 72%);
    z-index: 9999999;
}
.loader-svg{
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: fixed;
    fill: #e63e6d;
}
.bi-lightning-charge-fill{
    animation: lighteningAnimationFill 1s;
    animation-iteration-count:infinite;

}
@keyframes lighteningAnimationFill {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
