.list-main{
    width: 20rem;
    float: right;
    margin-right: 20px;
    margin-top: 9vh;
}
.top-tools{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
}
.list-group-item{
    background-color: #ffffff2c;
    color: white;
    border-style: hidden;
}
.list-img{
    border-radius: 50px;
    border-style: hidden;
}
.rounded-pill{
    background-color: #b42b51;
}

/* For the sake of Responsiveness */
@media only screen and (max-width: 600px) {
    .list-main{
        position: relative;
        margin-top: 2vh;
        margin-right: 0px;
        width: 90vw;
        float: none;
        left: 50%;
        transform: translate(-50%);
    }
    .list-group-item{
        display: inline-block;
        width: 90vw;
        color: white;
        border-style: hidden;
    }
}