@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body{
    font-family: "Montserrat", sans-serif;
}
.fullscreen-form {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #474747;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), #12121230);
    z-index: 9999;
  }
.new-form-shape{
    width: 80vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 3;
    background-color: #222831;
    border-radius: 20px;
    border-style: hidden;
    border-color: #4e5d72;
    border-width: 0.25rem;
    animation: newShapeAppear 1s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.431);
}
@keyframes newShapeAppear {
    0%{
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        width: 20rem;
        height: 20rem;
    }
    100%{
        width: 80vw;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        z-index: 3;
        background-color: #222831;
        border-radius: 20px;
    }
}
@keyframes appearLate {
    0%{
        opacity: 0;
    }
    95%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.appear-late{
    animation: appearLate 1s;
}
.close-circle{
    width: 18px;
    height: 18px;
    border-radius: 50px;
    float: right;
    margin-top: 12px;
    margin-right: 8px;
    animation: appearLate 1s;
}
.red{
    background-color: rgb(255, 61, 61);
    color: transparent;
    display: inline;
    font-size: 12px;
    vertical-align: middle;
    font-family: "Montserrat", sans-serif;
}
.red:hover{
    animation: redBtn 0.3s;
    width: 50px;
    color: #FBDCC4;
    cursor:pointer;
}
@keyframes redBtn {
    0%{
        width: 18px;
    }
    100%{
        width: 50px;
    }
}
.green{
    background-color: rgb(124, 207, 0);
}
.yellow{

    background-color: rgb(255, 255, 0);
}
.form-title{
    margin-top: 4px;
    margin-left: 20px;
    color: white;
    font-size: 30px;
}
.form-body{
    color: whitesmoke;
    margin-top: -15px;
}
.form-input{
    width: 38vh;
    margin-bottom: 10px;
    height: 6vh;
    border-radius: 20px;
    background: #4e5d72;
    border-color: white;
    text-align: center;
    color: #EEEEEE;
    font-size: larger;
    padding-left: 8px;
    padding-right: 8px;
    border-style: solid;
    box-shadow: 0px 0px 30px #000;
    outline: transparent;
}

.form-input:focus{
    width: 40vh;
    border-style: hidden;
    box-shadow: 0 0 0 4px white;
    transform: scale(1.01);
}
.form-input-description{
    height: 18vh;
    font-size: medium;
    font-style: italic;
    max-height: 18vh;
    min-height: 18vh;
    overflow: hidden;
}
.form-submit-btn{
    display: block;
    margin-top: -2px;
    margin-bottom: 10px;
    background-color: #222831;
    color: #e8bd70;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    border-style: solid;
    border-color: #e8bd70;
    box-shadow: 0px 0px 30px #000;
}
.form-submit-btn:hover{
    color: #222831;
    transition: 0.2s ease-in-out;
    background-color: #e8bd70;
}
.form-submit-btn:focus{
    color: #222831;
    transition: 0.2s ease-in-out;
    background-color: #e8bd70;
    box-shadow: 0 0 0 0.25rem #ffa600;
}
.form-label{
    color: rgb(182, 182, 182);
}
