/* FREE TO USE ~~ github.com/VishwaGauravIn */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css");
.btnoff {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 12rem;
    background-color: #121212;
    border: 2px solid orange;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: background-color 0.5s ease, border-color 0.5s ease;
  }
  
  .btnoff:hover {
    width: fit-content;
    background-color: #000;
    border-color: #000;
  }
  
  .text {
    font-size: 0;
    font-weight: bold;
    display: inline-block;
    opacity: 0;
    color: #fff;
    visibility: hidden;
    transition: font-size 0.3s ease, opacity 0.5s ease;
  }
  
  .btnoff:hover .text {
    opacity: 1;
    font-size: 18px;
    visibility: visible;
    padding-inline: 16px;
  }
  
  .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 36px;
    border-radius: 50%;
    transition: background-color 0.25s ease;
  }
  .btnoff:hover .icon {
    background-color: #121212;
  }
  
  .icon svg {
    width: 40px;
    height: 40px;
    fill: rgb(255, 217, 146);
    transition: transform 0.5s ease;
  }
  .btnoff:hover .icon svg {
    transform: scale(0.5);
    fill: #3671e9;
  }
  