@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


.bg-color-purple{
  background-color: #330867;
}
.text-color-white{
  color: white;
}
body{
  background-color: #121212;
  background-image: linear-gradient(90deg, #121212 0%, rgb(40, 44, 52) 72%);
  align-items: center;
}

.card{
    margin-top: 1vh;
    margin-bottom: 1vh;
    /* margin-left: 1vw;
    margin-right: 1vw; */
    background-color: transparent;
    color: white;
    border-radius: 3vh;
    width: 17rem;
}
/* creating zoom effect on mouse hover */
.card:hover{
  transform: scale(1.01);
}  

.main{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-right: 20px;
  width: 17rem;
}

/* To remove underlines from hyperlinks */
.urlLinkCard{
  text-decoration: none;
}
.big-box{
  max-width: 60rem;
  min-width: 0;
  margin-top: 2vh;
  margin-bottom: 2vh;
  /* margin-left: 14.5vw; */
  position: relative;
  left: 50%;
  transform: translate(-50%,0%);
}
.headingLogo{
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 75px;
}
.inline{
  display: inline-block;
}
.card-image{
  border-radius: 50px;
  border-width: 4px;
  border-style:outset;
  border-color: white;
  margin-bottom: 8px;
}
.card-image:hover{
  border-width: 0px;
  image-resolution: 54px 54px;
}


/* ----------------------------------------------------------------------
                    Animated Background Style Start 
------------------------------------------------------------------------ */
.white {
  height: 100vh;
  width: 90vw;
  position: fixed;
  z-index: -69;
}
.squares {
  height: 100%;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.square {
  -webkit-animation: squares 19.5s linear infinite;
          animation: squares 19.5s linear infinite;
  align-self: flex-end;
  width: 6em;
  height: 6em;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background: #202020;

  -webkit-filter: blur(2.5px);
}
.square:nth-child(2) {
  border-radius: 0% 100% 0% 100% / 0% 98% 2% 100%  ;
  height: 4.5em;
  width: 3em;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
}
.square:nth-child(3) {

  height: 2em;
  width: 1em;
  border-radius: 0px;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
}
.square:nth-child(4) {
  height: 4em;
  width: 4em;
  border-radius: 50px;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 13s;
          animation-duration: 13s;
}
.square:nth-child(5) {
  height: 1.25em;
  width: 2em;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
}
.square:nth-child(6) {
	width: 0;
	height: 0;
  background-color: transparent;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid #292929;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
}
.square:nth-child(7) {
  height: 5em;
  width: 2em;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
}
.square:nth-child(8) {
  height: 1em;
  width: 3em;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
}
.square:nth-child(9) {
  height: 1.5em;
  width: 2em;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
}
.square:nth-child(9) {
  background-color: rgb(53, 53, 53);
  height: 3em;
  width: 2.4em;
  border-radius: 50px;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
}

@-webkit-keyframes squares {
  from {
    -webkit-transform: translateY(100%) rotate(-50deg);
            transform: translateY(100%) rotate(-50deg);
  }
  to {
    -webkit-transform: translateY(calc(-100vh + -100%)) rotate(20deg);
            transform: translateY(calc(-100vh + -100%)) rotate(20deg);
  }
}

@keyframes squares {
  from {
    -webkit-transform: translateY(100%) rotate(-50deg);
            transform: translateY(100%) rotate(-50deg);
  }
  to {
    -webkit-transform: translateY(calc(-100vh + -100%)) rotate(20deg);
            transform: translateY(calc(-100vh + -100%)) rotate(20deg);
  }
}


/* ----------------------------------------------------------------------
                    Animated Background Style End 
------------------------------------------------------------------------ */